.cartPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(66, 66, 66);
    color: rgb(138, 221, 12);
    padding: 0 6rem;
}
.goBack {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
    text-decoration: none;
    color: rgb(138, 221, 12);
    font-size: 1.5rem;
}
.emptyCart {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(138, 221, 12);
}
.emptyCartLogo {
    margin: 1rem 0 2rem 33.2rem;
}
.cartItem{
    display: flex;
    margin: 1rem 0;
}
.cartImage{
    margin-right: 2rem;
}
.changeQuantity{
    width: 60px;
    height: 30px;
    border-radius: 5rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(138, 221, 12);
}
.totalAmount {
    margin-left: 60rem;
    color:rgb(138, 221, 12);
    font-size: 1.5rem;
}
.orderDetail{
    margin: 0 0 1.2rem 60rem;
    border-radius: 2rem;
    padding: .1rem 2rem;
    color: rgb(138, 221, 12);
    cursor: pointer;
    font-size: 1rem;
}