.footer {
    display: flex;
    padding: 2rem 3rem 2rem 6rem;
    background-color: black;
}
.firstPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    text-align: left;
    color: white;
    margin-top: -2rem;
}
.secondPart {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.firstSec {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-around;
    color: white;
}
.secondSec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .taxt {
    margin: 5rem;
} */
.logo{
    margin-left: -1.5rem;
}