.headerCart {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}
/* .cartQuantities{

} */
.endSec {
    display: flex;
    flex-direction: row-reverse;
}
.cartQuantities{
    padding-top: 1.2rem;
    font-size: 25px;
}
