.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem 1rem 6rem;
}
/* .logo {
    /* margin-left: 5rem; */
    /* padding-bottom: 10px; */
/* }  */
.cartIcon {
    /* margin-left: 5rem; */
    text-decoration: none;
    padding-top: 0.7rem;
    /* margin-right: -1rem; */
    /* margin-bottom: 10px; */
}
.cart {
    text-decoration: none;
    border: none;
    color: black;
}
.cartQuantity{
    /* display: inline-block; */
    /* border: black solid 3px; */
    height: 20px;
    /* width: 10px; */
    /* padding: 0 0 5px 8px; */
    /* margin-right: 6rem; */
    /* margin-top: 1.3rem; */
    padding: 1.2rem 0 0 0;
    margin-left: -4.5rem;
    font-size: 25px;
}
.middle{
    display: flex;
    justify-content: space-between;
    width: 10%;
}
.end{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 30%;
}