.itemDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemDetailShowCase{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgb(41, 39, 39);;
}
.backToHome{
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    text-align: center;
    text-decoration: none;
    color: rgb(240, 215, 73);
    font-size: 1.5rem;
    margin-top: 3rem;
}
.itemDetail{
    display: flex;
    margin: 5rem 0;
    justify-content: center;
    color: rgb(240, 215, 73);
}
.itemImage{
    margin-right: 2rem;
}
button{
    cursor: pointer;
    background-color:rgb(14, 14, 46);
    border: none;
    color: rgb(240, 215, 73);
    outline: none;
    padding: 0.1rem 1rem;
    border-radius: 2rem;
}