.showcase {
    display: flex;
    padding: 2rem 6rem 2rem 6rem;
    /* margin: 2rem 0; */
    /* width: 90vw; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* color: gold; */
    color: black;
    /* height: 80vh; */
    background-color: rgb(41, 39, 39);
    /* background-color: rgb(5, 53, 29); */
}
.card {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    margin: 1rem;
    /* width: 330px; */
    /* height: 520px; */
    border-radius: 10px;
    /* border: wheat 1px solid; */
    align-items: center;
    text-align: left;
    background-color: rgba(101, 241, 20, 0.151);
    /* flex: 1; */
    /* height: 500px; */
    /* background-color: rgb(171, 171, 177); */
}
.addToCart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartButton {
    background-color:rgb(14, 14, 46);
    border: none;
    color: rgba(101, 241, 20, 0.151);
    border-radius: 3px;
    padding: 0 .7rem;
    margin: 1rem 0;
    outline: none;
}
.images {
    border-radius: 10px 10px 0 0;
}
.detail {
    padding-top: -2rem;
}
.cartButton {
    cursor: pointer;
}