.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.backgroundImages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 350px;
    padding: 0 6rem 0 6rem;
}
.landingImages {
    border-radius: 10px;
}
/* .backgroundImage{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #D2AB6F;
    margin: 1rem 0 1rem 0; */
/* } */